<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="main-registro">
        <section  id="container-registro">
         

           <form action="/editar-usuario?_method=PUT" method="POST" id="registro" enctype="multipart/form-data">
                <h1 id="titulo">Crea tu cuenta</h1>

                    <label  class="label" for="nombre" ></label>
                    <input class="input" type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido" value="<%= userEdit ? userEdit.nombre : '' %>">


                    <label class="label" for="usuario"></label>
                    <input class="input" type="text" name="usuario" id="usuario" placeholder="Nombre de Usuario"  value="<%= userEdit ? userEdit.usuario : '' %>">


                    <label  class="label" for="email"></label>
                    <input  class="input" type="email" name="email" id="email" placeholder="E-mail"  value="<%= userEdit ? userEdit.email : '' %>">



                    <label class="label" for="nacimiento">Fecha de nacimiento</label>
                    <input class="input" type="date" name="fechaNacimiento" id="nacimiento" value="<%=  userEdit ? userEdit.fechaNacimiento : '' %>">



                    <label class="label" for="domicilio"></label>
                    <input  class="input" type="text" name="domicilio" id="domicilio" placeholder="Domicilio" value=" <%= userEdit ? userEdit.domicilio : '' %>">


                    <label class="label" for="perfil">Perfil del usuario</label>      
                    <div id="container-perfil">
                      <div id="div-perfil" > <input class="input" type="radio" name="perfil-comprador" id="perfil" value=""><p class="p-perfil">Comprador</p> </div>
                      <div id="div-perfil"> <input class="input" type="radio" name="perfil-vendedor" id="perfil" value=""> <p class="p-perfil">Vendedor</p></div>
                    </div>



                    <label class="label" for="categorias">Intereses </label >
                          <div id="container-intereses"   >
                              <div class="div-categorias"><input class="input" type="checkbox" name="categorias-electro" id="categorias" value=""><p class="p-categorias">Electro</p></div>
                              <div class="div-categorias"><input class="input" type="checkbox" name="categorias-moda" id="categorias" value=""><p class="p-categorias">Moda</p></div>
                              <div class="div-categorias"><input class="input" type="checkbox" name="categorias-hogar" id="categorias" value=""><p class="p-categorias">Hogar</p></div>
                              <div class="div-categorias"><input class="input" type="checkbox" name="categorias-jugueteria" id="categorias" value=""><p class="p-categorias">Juguetería</p></div>
                              <div class="div-categorias"><input class="input" type="checkbox" name="categorias-vidasana" id="categorias" value=""><p class="p-categorias">Vida sana</p></div>
                          </div>
      
                     
                       <label  class="label label-foto" for="foto">Elige foto de perfil</label>
                       <div id="container-foto">
                         <p id="p-foto">Agregar foto</p>
                         <input class="input" type="file" name="foto" id="foto" accept="jpg., png., jpeg." value="<%= userEdit ? userEdit.foto : '' %>">
                       </div>
                    



                     <label class="label" for="contraseña">Contraseña</label>
                     <input class="input" type="password" name="contraseña" id="contraseña" placeholder="Contraseña" value="">



                     <label class="label" for="confirmar-contaseña">Confirmar contaseña </label>
                     <input class="input" type="password" name="confirmarContraseña" id="confirmar-contaseña" placeholder="Confirmar contaseña">

     
                     <div class="container-botones">
                       <a href="/"  class="a-boton"><button type="submit" value="Enviar" class="enviar" name="boton-enviar"> Enviar</button></a>   
                       <button type="reset" value="Borrar" class="borrar" name="boton-borrar">Borrar</button>
                     </div>

           </form>
        </section>
 </main>

</body>
</html>