<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="shortcut icon" href="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.18.1/mercadolibre/favicon.ico" data-head-react="true">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
     rel="stylesheet" />
     <script src="https://kit.fontawesome.com/b8b6f5bafe.js" crossorigin="anonymous"></script>
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200&family=Lato:wght@400;700;900&family=Montserrat&family=Oswald&family=Prosto+One&family=Questrial&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("partials/header.ejs")%>
    <section>
        <div class="container-banner">
            <img src="/images/img-home-banner.jpg" class="banner" alt="">
        </div>
    </section>

<main>
    

    
    <h1 class="">Basado en tu última visita</h1>
 
        <% for(let i = 0; i  < productos.length; i++ ){%>
            <section class="section-producto">
                <article>

                    <a href="/producto/<%= productos[i].id%> ">
                    <div class="container-img">
                          <img src="<%= productos[i].img%>" alt="" class="img">
                    </div> 
                    <div class="container-des"> 
                          <i class="circulo"><i class="fa-solid fa-truck" id="auto"></i></i>
                          <div class="container-precio-descuentos">
                              <p class="precio"><%= productos[i].precio%></p>
                              <p class="descuentos"><%= productos[i].descuento%></p>
                          </div>
                          <strong class="descripciones"><%= productos[i].nombre%></strong>
                    </div>
                    </a>
                </article>
                    
        </section>
            <% }%> 
      

</main>

    <footer>
        <section class="container-footer">
            <div class="pie">
                <div class="icono">
                   <i class="fa-solid fa-credit-card"></i>
                 </div>
                 <strong class="descripciones-footer">Pagá con tarjeta o en efectivo</strong>
             <br>
                 <p>Con Mercado Liebre Cash, tenés cuotas sin  interés con tarjeta o efectivo en
                  puntos de  pago. ¡Y siempre es seguro!
                 </p>
             </div>
             <br>
             <div class="pie">
                 <div class="icono">
                     <i class="fa-solid fa-gift"></i>
                 </div>
                 <strong class="descripciones-footer">Envío gratis desde $ 2.500</strong>
             <br>
             <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                 productos. Es un beneficio de Mercado Puntos.
             </p>
             </div>
             <br>
             <div class="pie">
                 <div class="icono">
                     <i class="fa-solid fa-user-shield"></i>
                 </div>
                 <strong class="descripciones-footer">Seguridad, de principio a fin</strong>
             <br>
             <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                 porque estás siempre protegid@.
             </p>
             </div>
             <br> 
        </section>
        <p class="Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
     

    </footer>
</body>
</html>