<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detalleProducto.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <script src="https://kit.fontawesome.com/b8b6f5bafe.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200&family=Lato:wght@400;700;900&family=Montserrat&family=Oswald&family=Prosto+One&family=Questrial&display=swap" rel="stylesheet">

    <title>Detalle de productos</title>
</head>
<body>
    
        <%- include("partials/header.ejs")%>
    
<main>
    <% if(Array.isArray(producto)){%>
        <% for(let i = 0; i < producto.length; i++ ){%>
        <section class="container-article hola-2">
            <article class="article">
            <div class="container-img">
                  <img src="<%= producto[i].img%>" alt="" class="img" name="">
            </div> 
            <div class="container-des"> 
                  <!-- <i class="circulo"><i class="fa-solid fa-truck" id="auto"></i></i> -->
                  <div class="container-precio-descuentos-descripcion">
                      <strong class="descripciones"><%= producto[i].nombre%></strong> 
                      <p class="precio"><%= producto[i].precio%></p>
                      <p class="descuentos"><%= producto[i].descuento%></p> 
                      <ul>
                        <% for(let o = 0; o < producto[i].caracteristicas.length; o++){%>  
                        <li class="caracteristicas"><%= producto[i].caracteristicas[o] %></li>
                        <% } %>
                       </ul>        
                                 
                  </div>
                  <div class="container-botones">
                    
                        <input type="submit" value="comprar" name="boton-compra">
                        <a href="/editar-producto/<%= producto.id%>"><input type="submit" value="editar producto" name="boton-editar"></a>
                    
                  </div>
                 
                  
            </div>
           </article>
       </section>
       <% } %>
        <% }else{ %>
       
               <section class="container-article hola-2">
                    <article class="article">
                    <div class="container-img">
                          <img src="<%= producto.img%>" alt="" class="img">
                    </div> 
                    <div class="container-des"> 
                          <!-- <i class="circulo"><i class="fa-solid fa-truck" id="auto"></i></i> -->
                          <div class="container-precio-descuentos-descripcion">
                              <strong class="descripciones"><%= producto.nombre%></strong> 
                              <p class="precio"><%= producto.precio%></p>
                              <p class="descuentos"><%= producto.descuento%></p> 
                              <ul>
                                <% for(let o = 0; o < producto.caracteristicas.length; o++){%>  
                                <li class="caracteristicas"><%= producto.caracteristicas[o] %></li>
                                <% } %>
                               </ul>        
                                         
                          </div>
                          <div class="container-botones">
                           
                                <input type="submit" value="comprar" name="boton-compra">
                                
                                <a href="/editar-producto/<%= producto.id%>"><input type="submit" value="editar producto" name="boton-editar"></a>
                      
                          </div>
                         
                          
                    </div>
                   </article>
               </section>
        
            <% } %>
        </main>           

</body>
</html>